body {
	background: #fafafa url(http://www.cqsisu.com/data/wallpapers/81/985927.jpg);
	color: #111;
	font: 100%/30px "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
	text-shadow: 0 0px 0 #aaa;
}

table {
  border-collapse: separate;
  border-spacing: 0px;
  border-radius: 1px;
  background: #fff;
  margin: 20px auto;
  box-shadow: 0px 0px 1px;
  text-align:left;
  
}

th {
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  font-family: italic;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  height: 75px;
  padding: 20px;
  background-image: linear-gradient(#0000FF, #0000FF, #0000FF);
  border: 1.5px solid #858d99;  

 }


th:first-child {

  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  
}
th:last-child {

  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}

tr td {
  font-family: cursive;
  font-weight: 600;
  color: #5f6062;
  font-size: 10px;
  padding: 20px 20px 20px 20px;
  border-right: 1px solid #e0e0e0;
  transition: all 1s;
}

tr:nth-child(2n) {

  background: #f0f3f5;
}

tr td  {
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}

tr td {

  font-family: cursive;
  font-weight: 600;
  color: #5f6062;
  font-size: 10px;
  padding: 20px 20px 20px 20px;
  border-right: 1px solid #e0e0e0;
  transition: all 1s;
}

tr:nth-child(2n) {

  background: #D3D3D3;
}
.top {
    text-align: center;
    width: 20px;
    height: 40px;
    margin: 5px;
     
}
.name {

    width: 60px;
    height: 40px;
    margin: 5px;
    
}
.number {
    width: 70px;
    height: 40px;
    margin: 5px;  

}

.path {
    width: 100px;
    height: 25px;
    margin: 10px; 
    text-align: right;
    padding-right:10px;
  }

 

  .result {
    width: 150px;
    height: 40px;
    margin: 5px; 
 
  }

.message {
   width: 60px;
    height: 40px;
    margin: 5px;  

  }

  .pages {
    width: 60px;
    height: 30px;
    margin: 5px; 
  }

 
.date {
    width: 80px;
    height: 45px;
    margin: 5px; 
    text-align: center; 
    padding-right: -50px;
}


.right_search {
 float: right; 
 text-align: right;
 margin: -1px auto;  
} 

.top_paginate {
 margin: -35px;
 padding-right:30px;
