.container-fluid
  .panel.panel-default
    .panel-heading
      %h3.panel-title Fax List
    .panel-body
      .col-md-12
        .col-md-4.pull-right
        .col-md-3
        .text-center
          Export the results as:
          \#{link_to 'CSV file' , export_fax_records_path(format: 'csv'), method: :post, class: 'btn btn-default btn-sm'}
          \#{link_to 'Excel file', export_fax_records_path(format: 'xls'), method: :post, class: 'btn btn-default btn-sm'}
      %table#fax_records{ data: { source: fax_records_path(format: 'json')}}
        %thead
          %tr
            %th.text-center Fax ID
            %th.text-center Recipient name
            %th.text-center Recipient number
            %th.text-center Confirmation Message
            %th.text-center Status
            %th.text-center Attempts
            %th.text-center Pages
            %th.text-center Sender No.
            %th.text-center Request Initiated
            %th.text-center Request Sent to Vendor
            %th.text-center Vendor Confirmation
            %th.text-center Duration sec
        %tbody
