.cont
  %table#fax_records{data: {source: "#{fax_records_url(format: 'json')}"}}
    %thead
      %tr
        %th.text-center Fax ID
        %th.text-center Recipient name
        %th.text-center Recipient number
        %th.text-center Confirmation Message
        %th.text-center Status
        %th.text-center Attempts
        %th.text-center Pages
        %th.text-center Sender No.
        %th.text-center Request Initiated
        %th.text-center Request Sent to Vendor
        %th.text-center Vendor Confirmation
        %th.text-center Duration sec
    %tbody
