.container
  .row
    .col-sm-1.sidenav
    .col-xs-10
      %center
        .panel.panel-info
          .panel-heading
            %h3.panel-title Total Fax Records Not send
          .panel-body
            = @fax_records.map(&:sendback_final_response_to_client).reduce(:+)
