# variables for lib/fax_common_methods/module.rb
username: ''
APIkey: ''
vector: ''
encryptionkey: ''
fax_server_url: ''

# variables for lib/tasks/fax_response.rake
MAX_RESPONSE_CHECK: '20'
max_records_send_to_client: '25'
MAX_RESEND: '1'
#file service server info

file_service_path: ''

# logger service url
LOGGER_SERVICE_HOST: ''
LOGGER_SERVICE_PORT: ''

# Azure information 
AZURE_CLIENT_ID: ''
AZURE_CLIENT_SECRET: ''
AZURE_TENANT_ID: ''


pagination_per_page: '100'

GMAIL_USER: ''
GMAIL_PASSWORD: ''
ADMIN_LIST: ''
